body {
    background-image: linear-gradient(#e4e4e4 1px, transparent 1px),
        linear-gradient(90deg, #e4e4e4 1px, transparent 1px);
    background-size: 10px 10px, 10px 10px, 2px 2px, 2px 2px;
    padding: 20px; 
    
}

div {
    text-align: center;
}



input,
select {
    outline: none;
    background: linear-gradient(rgb(49, 181, 224));
    &:focus,
    &:active {
        box-shadow: 0 0 0 2px rgba($purple, 0.5);
    }
}
