body {
    height: 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 0;
  }
  header {
    font-weight: bold;
    font-size: 1em;
    box-sizing: border-box;
    text-align: left;
    margin-left: 10%;
  }
  
  header > p {
    color: grey;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    box-sizing: content-box;
    padding: 20px;
    margin-left: 5%;
  }
  
  nav li:nth-child(2) {
    color: grey;
  }
  #mib-office {
    width: 100%;
  }
  
  main {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
  .gallery {
    flex-flow: row wrap;
    margin: 5%;
  }
  
  #industryDiv {
    width: 30% auto;
    flex: 1 0 30%;
  }
  
  #web-development {
    width: 70% auto;
    flex: 1 0 70%;
  }
  
  #gallery-extras {
    width: 30% auto;
    flex: 1 0 30%;
  }
  
  .logotypes {
    width: 70% auto;
    flex: 1 0 70%;
  }
  
  #google-maps {
    width: 30%;
  }
  footer {
    clear: both;
    background-color: #1a75aa;
    color: whitesmoke;
    display: flex;
    flex: 1 auto;
    justify-content: space-evenly;
    padding: 10px;
    line-height: 5em;
  }
  
  footer ul > li {
    border-bottom: 1px solid #604e72;
    list-style-type: none;
  }
  footer ul > li:last-child {
    border-bottom: none;
  }
  @media (max-width: 414px) {
    nav li {
      display: block;
      flex-direction: column;
    }    
  
    main {
      display: flex;
      flex-direction: column;

    }
  
    .gallery {
      display: block;
      flex-direction: column;
  }



    footer {
      display: flex;
      flex: 1 auto;
      flex-direction: column;
    }
  }
  